@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

div.line {
    display: none;
    width: 40%;
    margin: 0 auto;
    border-bottom: 2px solid #17d437;
    border-radius: 3px;
}

/* Inizio main */

main {
    height: calc(100vh - 100px);
}

main nav{
    background-color: black;
    width: 50px;
    height: 100%;
}

main .content {
    position: relative;
    width: calc(100% - 50px);
    height: 100%;
}

main nav,
main .content {
    float: left;
}

/* Inizio main nav */

main nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav .regroup {
    width: 100%;
}

nav .regroup:first-child {
    min-height: 305px;
    overflow: hidden;
}

/*inizio not in mobile */

main nav .regroup .logo a img.not-mobile{
    display: none;
}

main nav .regroup ul li a h3 {
    display: none;
}

main nav .regroup ul li .line {
    display: none;
}

main nav .regroup .playlist {
    display: none;
}

main nav .regroup .app-download a span {
    display: none;
}

main nav .regroup .user a h3 {
    display: none;
}

/* Fine not in mobile */

main nav .regroup .logo {
    margin-bottom: 10px;
    text-align: center;
}

main nav .regroup .logo a img {
    width: 30px;
}

main nav .regroup > ul li {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

main nav .regroup > ul li a{
    opacity: 0.7;
}

main nav .regroup > ul li a:hover {
    opacity: 1;
}

main nav .regroup > ul li a img {
    width: 25px;
}

main nav .regroup .playlist ul {
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
}

main nav .regroup .app-download {
    margin-bottom: 10px;
    text-align: center;
}

main nav .regroup .app-download a {
    opacity: 0.7;
}

main nav .regroup .app-download a:hover {
    opacity: 1;
}


main nav .regroup .app-download a img{
    width: 20px;
}

main nav .regroup .user a .user-img-box {
    width: 25px;
    height: 25px;
    margin: 0 auto;
    background-color: #808080;
    border-radius: 50%;
    overflow: hidden;
}

main nav .regroup .user a .user-img-box  img{
    width: 100%;
}

/* Fine main nav */

/* Inizio content */

main .content .header {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    width: 100%;
    padding-right: 30px;
}

main .content .header .button {
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
}

main .content .header .button:hover {
    transform: scale(1.1);
    /* padding: 12px 32px; */
}

main .content .header .button a{
    font-size: 12px;
    color: white;
    font-weight: 600;
}

main .content #home {
    padding-top: 100px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

main .content #home .nav-home ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .content #home .nav-home ul li {
    padding: 10px;
}

main .content #home .nav-home ul li.active div.line {
    display: block;
}

main .content #home .nav-home ul li a {
    color: #878787;
    font-size: 12px;
    font-weight: 600;
}

main .content #home .nav-home ul li.active a {
    cursor: default;
}

main .content #home .nav-home ul li:not(.active) a:hover{
    color: white;
}

main .content #home .row {
    width: 100%;
    padding: 10px;
}

main .content #home .row h2 {
    margin-bottom: 20px;
    color: white;
}

main .content #home div.row.suggest h2 {
    margin-bottom: 5px;
}

main .content #home .row p {
    margin-bottom: 20px;
    font-size: 12px;
    color: #878787;
}

main .content #home .row .album-conteiner {
    display: flex;
    flex-wrap: wrap;
}

main .content #home .row .album-conteiner .album-box {
    width: 50%;
    padding-right: 10px;
}

main .content #home .row .album-conteiner .album-box .cover-img {
    margin-bottom: 10px;
    position: relative;
}

main .content #home .row .album-conteiner .album-box .cover-img div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

main .content #home .row .album-conteiner .album-box .cover-img div i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 80px;
    color: white;
}


main .content #home .row .album-conteiner .album-box .cover-img:hover div{
    display: block;
}

main .content #home .row .album-conteiner .album-box .cover-img img {
    width: 100%;
    display: block;
}

main .content #home .row .album-conteiner .album-box .img-rounded{
    border-radius: 100%;
    overflow: hidden;
}

main .content #home .row .album-conteiner .album-box h3,
main .content #home .row .album-conteiner .album-box h4 {
    text-align: center;
    margin-bottom: 5px;
}

main .content #home .row .album-conteiner .album-box h3 a {
    font-size: 14px;
    color: white;
}

main .content #home .row .album-conteiner .album-box h4 a {
    font-size: 12px;
    color: #878787;
}

main .content #home .row .album-conteiner .album-box h3 a:hover,
main .content #home .row .album-conteiner .album-box h4 a:hover {
    text-decoration: underline;
}

/* Fine Content */

/* Fine main */

/* Inizio footer */

footer {
    height: 100px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3;
    padding: 10px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

footer .song-preview {
    display: flex;
    min-width: 150px;
}

footer .song-preview .regroup {
    display: flex;
    align-items: center;
    margin-right: 14px;
}

footer .song-preview .regroup .song-img {
    margin-right: 10px;
}

footer .song-preview .regroup .song-img img {
    width: 30px;
    display: block;
}

footer .song-preview .regroup .song-info {
    display: flex;
    flex-direction: column;
    min-width: 60px;
    max-width: 80px;
}

footer .song-preview .regroup .song-info > * {
    cursor: pointer;
}

footer .song-preview .regroup .song-info > *:hover {
    text-decoration: underline;
}

footer .song-preview .regroup .song-info h3 {
    font-size: 12px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer .song-preview .regroup .song-info h4 {
    font-size: 10px;
    color: #878787;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer .song-preview .buttons-add-to {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
    color: #878787; 
}

footer .song-preview .buttons-add-to i {
    cursor: pointer;
}

footer .song-preview .buttons-add-to i:hover {
    color: white;
}

footer .player-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    width: calc(100% - 320px);
    color: white;
    margin: 0px 10px;
}

footer .player-controls .player-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    font-size: 18px;
    margin-bottom: 10px;
}

footer .player-controls .player-buttons i {
    cursor: pointer;
}

footer .player-controls .player-buttons i.fa-play-circle {
    font-size: 35px;
}

footer .player-controls .player-buttons i:hover {
 transform: scale(1.2);
}

footer .player-controls .time-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    font-size: 12px;
}

footer .player-controls .time-bar .time-l,
footer .player-controls .time-bar .time-r {
    cursor: pointer;
}

footer .player-controls .time-bar .track-bar {
    position: relative;
    height: 4px;
    width: 70%;
    background-color: #5a5a5a;
    border-radius: 4px;
    margin: 0px 5%;
    cursor: pointer;
}

footer .player-controls .time-bar .current-bar,
footer .output-controls .volume-bar .current-bar {
    position: absolute;
    width: 30%;
    height: 100%;
    border-radius: 4px;
    background-color: #c1c1c1;
}

footer .player-controls .time-bar .track-bar:hover
 .current-bar,
footer .output-controls .regroup:last-child:hover
 .volume-bar .current-bar {
    background-color: #17d437;
}

footer .player-controls .time-bar .handle,
footer .output-controls .volume-bar .handle {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
}

footer .player-controls .time-bar .track-bar:hover
 .handle,
footer .output-controls .regroup:last-child:hover
 .volume-bar .handle {
    display: block;
}

footer .output-controls {
    display: flex;
    align-items: center;
    min-width: 150px;
    font-size: 16px;
    color: white;
}

footer .output-controls .regroup:first-child {
    display: flex;
    width: 54px;
}

footer .output-controls .regroup:first-child i {
    margin-right: 10px;
    cursor: pointer;
}

footer .output-controls .regroup:last-child {
    display: flex;
    width: calc(100% - 54px);
    align-items: center;
    cursor: pointer;
}

footer .output-controls .regroup:last-child i {
    margin-right: 5px;
}

footer .output-controls .volume-bar {
    width: 100%;
}

footer .player-controls .time-bar .track-bar,
footer .output-controls .volume-bar .track-bar {
    position: relative;
    height: 4px;
    width: 70%;
    background-color: #5a5a5a;
    border-radius: 4px;
    margin: 0px 5%;
}

footer .output-controls .volume-bar .track-bar {
    width: 100%;
    margin: 0px;
}


/* Fine footer */


@media screen and (min-width: 576px) {
    main nav{
        width: 200px;
    }

    main .content {
        width: calc(100% - 200px);
    }

    main nav .regroup .logo a img.not-mobile{
        display: block;
    }

    main nav .regroup .logo a img.mobile{
        display: none;
    }

    main nav .regroup ul li a h3 {
        display: block;
    }
    
    main nav .regroup ul li .line {
        display: block;
    }
    
    main nav .regroup .playlist {
        display: block;
    }
    
    main nav .regroup .app-download a span {
        display: block;
    }
    
    main nav .regroup .user a h3 {
        display: block;
    }

    /* Inizio main nav */

    main nav .regroup .logo a img {
        width: 120px;
        padding-left: 20px;
    }

    main nav .regroup ul li.active {
        border-left: 2px solid #17d437;
    }

    main nav .regroup > ul li a{
        display: flex;
        align-items: center;
        padding-left: 20px;
        color: white;
    }

    main nav .regroup > ul li a h3 {
        font-size: 12px;
        font-weight: 400;
        padding-left: 5px;
    }

    main nav .regroup .playlist {
        margin-top: 20px;
        padding-left: 20px;
    }

    main nav .regroup .playlist h2 {
        color: white;
        font-size: 14px;
        margin-bottom: 10px;
    }

    main nav .regroup .playlist .new-playlist {
        width: max-content;
        display: flex;
        align-items: center;
        opacity: 0.7;
        cursor: pointer;
        margin-bottom: 20px;
    }

    main nav .regroup .playlist .new-playlist:hover {
        opacity: 1;
    }

    main nav .regroup .playlist .new-playlist div {
        background-color: white;
        width: 30px;
        height: 30px;
        position: relative;
    }

    main nav .regroup .playlist .new-playlist div i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }

    main nav .regroup .playlist .new-playlist span {
        color: white;
        padding-left: 10px;
    }

    main nav .regroup .playlist ul li {
        margin-bottom: 20px;
    }

    main nav .regroup .playlist ul li a {
        color: white;
        font-size: 12px;
        opacity: 0.7;
    }
    
    main nav .regroup .playlist ul li a:hover {
        opacity: 1;
    }
    
    main nav .regroup:last-child {
        padding: 0 20px;
    }

    main nav .regroup .app-download {
        margin-bottom: 10px;
        text-align: initial;
        border-bottom: 1px solid #808080;
        padding-bottom: 10px;
    }

    main nav .regroup .app-download a {
        width: max-content;
        display: flex;
        align-items: center;
        color: white;
    }

    main nav .regroup .app-download a span{
        font-size: 12px;
        padding-left: 10px;
    }

    main nav .regroup .user a {
        width: max-content;
        display: flex;
        align-items: center;
        color: white;
    }
    
    main nav .regroup .user a .user-img-box {
        margin: 0 0;
    }

    main nav .regroup .user a h3{
        font-size: 14px;
        padding-left: 10px;
    }

    /* Fine main nav */
}

@media screen and (min-width: 768px) {
    main .content #home .row .album-conteiner .album-box {
        width: 25%;
    }
    
    footer .song-preview .buttons-add-to {
        flex-direction: row;
        align-items: center;
    }

    footer .song-preview .buttons-add-to i:first-child {
        margin-right: 5px;
    }

    footer .song-preview .regroup {
        margin-right: 10px;
    }

    footer .song-preview .regroup .song-info {
        width: 54px;
    }
}
@media screen and (min-width: 992px) {
    main .content #home .row .album-conteiner .album-box {
        width: calc(100% / 6);
    }  
}

